# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-specific .ics and .xlsx files
*.ics
*.xlsx

# Ignore IDE and editor files
.idea/
*.swp
*.swo
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore build output directory
/bin/
